.landing1 {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    position: relative;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}
.landing1 h1 {
    position: absolute;
    top: 53vh;
    right: 35%;
    color: white;
    font-size: 45px;
}
.landing1 p {
    position: absolute;
    top: 70vh;
    right: 25%;
    color: white;
    font-size: 18px; 
    padding: 15px;
}

.landing2 {
    padding: 100px;
}

.landing3 {
    position: absolute;
    top: 190vh;
    text-align: center;
    color: white;
    right: 2%;
    left: 2%;
}
.landing4 {
    padding: 50px;
}
.design {
    display: none;
}
.development{
    display: none;
}
.product {
    display: none;
}
.landing5 h1 {
padding: 20px;
}
.work4 {
    padding: 5px;
    width: 100%;
}
.work3 {
    padding: 5px;
    width: 100%;
}
.work2 {
    padding: 5px;
    width: 100%;
}
.work1 {
    padding: 5px;
    width: 100%;
    margin: 0px;
}
.work5 {
    padding: 5px;
    width: 100%;
}
.work6 {
    padding: 5px;
    width: 100%;
}
.work7 {
    padding: 5px;
    width: 100%;
}
.work8 {
    padding: 5px;
    width: 100%;
}

.dev{
    text-align: center;
}
.prod{
    text-align: center;
}
.des{
    text-align: center;
}
#contact{
    background-image: url(images/c_image.jpg);
    height: 500px;
    width: 100%;
    margin-top: 5%;
}
.landing6 h1{
    text-align: center;
    color: white;
}
.landing7{
    text-align: center;
    margin-top: 5%;
}
.port4, .port3, .port2, .port1, .port5, .port6, .port7, .port8{
    display: none;
    border: 5px solid white;
    height: 160px;
    width: 170px;
    margin-left: 15%;
    margin-top: -75%;
    z-index: 2;
}
.folio{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.landing8{
    text-align: center;
    margin-top: 2%;
}
#row1 {
    width: 130px;
    margin-left: 45%;
    margin-top: -35%;
    height: 100px;
}
#form1{
    display: flex;
}
#name{
    margin-left: 20%;
    margin-top: 3%;
    background: transparent;
}
#email{
margin-left: 10%;
margin-top: 3%;
background: transparent;
}
#message{
    width: 70%;
    height: 200px;
    margin-left: 15%;
    background: transparent;
}
.contactus{
    color: white;
    text-align: center;
}
.btn {
    background-color: white;
}
#message
::placeholder{
    color: solid white;
}
.mousec{
    position: absolute;
    top: 90vh;
    right: 50%;
}



font-family: 'Montserrat', sans-serif size: Regular 400;
