.landing1 {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    position: relative;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}
.landing1 h1 {
    position: absolute;
    top: 53vh;
    right: 35%;
    color: white;
    font-size: 45px;
}
.landing1 p {
    position: absolute;
    top: 70vh;
    right: 25%;
    color: white;
    font-size: 18px; 
    padding: 15px;
}

.landing2 {
    padding: 100px;
}

.landing3 {
    position: absolute;
    top: 190vh;
    text-align: center;
    color: white;
    right: 2%;
    left: 2%;
}
.landing4 {
    padding: 100px;
}
.design {
    display: none;
}



font-family: 'Montserrat', sans-serif size: Regular 400;
